@import url('https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(9, 4, 4, 0.671), rgba(12, 6, 6, 0.82)), url('./weather.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    /* justify-content: space-around; */
    background: transparent;
    backdrop-filter: blur(50px);
}


.header img {
    position: relative;
    top: 5px;
    left: 20px;
    margin-right: 10px;
    display: inline;
    border-radius: 50%;
    box-shadow: inset;
    box-shadow: 5px 1px 2px rgba(97, 76, 76, 0.9),
        inset 1px 2px 1px rgba(36, 147, 158, 0.6),
        inset 1px 2px 1px rgba(30, 82, 82, 0.6),
        inset -8px 2px 2px rgba(14, 10, 10, 0.6);
}

.header h1 {
    font-weight: 1200;
    color: rgba(19, 235, 199, 0.9);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    display: flex;
    text-align: center;
    text-shadow: 5px 5px 2px rgb(22, 59, 47);

}

.header div {
    position: absolute;
    right: 10%;
}

#input {
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #534a4a;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 0px 35px 0px 20px;
}

.header #search {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    bottom: 0;
    height: 30px;
    width: 30px;
    font-size: 20px;
}

.weather h2 {
    font-size: 40px;
    text-shadow: 2px 1px 1px rgb(174, 144, 144);
    font-weight: 400px;
}

.weather {
    text-align: center;
    color: rgb(229, 236, 239);
}

#city {
    font-size: 30px;
}

main {
    background: transparent;
    backdrop-filter: blur(40px);
}

.weather .temp-box img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(240, 248, 255, 0.408);
}

#temperature {
    font-size: 50px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
}

.temp-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

#clouds {
    font-size: 20px;
    background: rgba(57, 66, 27, 0.778);
    padding: 10px 20px;
    border-radius: 15px;
}

main {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 5px 1fr;
    align-items: center;
    margin: 0 50px;
    color: white;
}

.next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.next p,
.next h3 {
    margin: 3px 0;
}

.forecstD {
    margin: 0px 20px;
    color: aliceblue;
}

.weekF {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(9, 1fr);
    position: absolute;

}

.dayF {
    background: transparent;
    height: auto;
    width: auto;
    padding: 5px;
    backdrop-filter: blur(90px);
    border-radius: 10px;

}

.cast-header {
    color: aliceblue;
    background: rgba(252, 227, 4, 0.539);
    font-size: 25px;
    color: #000;
    display: flex;
    align-items: center;
    font-weight: 500;
    width: max-content;
    padding: 10px 15px;
    border-radius: 25px;
    margin-bottom: 5px;
}

.divider1,
.divider2 {
    background: rgba(248, 248, 7, 0.539);
    height: 200px;
    border-radius: 5px;
}

.divider2 {
    height: 5px;
    width: 40%;
    margin: 0 auto;
}

.time {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}

.next p {
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.date {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}

.desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(90, 176, 20);
}

footer {
    position: absolute;
    right: 2%;
    top: 96%;
}

footer,
footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}